openssl_conf = openssl_init

[openssl_init]
providers = provider_sect

[provider_sect]
#default = default_sect
fips = fips_sect
#base = base_sect

[default_sect]
activate = 0

[base_sect]
activate = 1
default_properties = "fips=yes"

[algorithm_sect]
default_properties = "fips=yes"

[fips_sect]
activate = 1
default_properties = "fips=yes"
install-version = 1
conditional-errors = 1
security-checks = 1
module-mac = ED:2C:4A:9A:FA:7B:2F:86:9B:8E:2A:23:4E:24:14:79:6E:36:86:23:E4:B8:BE:09:51:D9:C8:23:46:14:9E:61
tls1-prf-ems-check = 1
no-short-mac = 1
drbg-no-trunc-md = 1
signature-digest-check = 1
dsa-sign-disabled = 1
hkdf-digest-check = 1
tls13-kdf-digest-check = 1
tls1-prf-digest-check = 1
sshkdf-digest-check = 1
sskdf-digest-check = 1
x963kdf-digest-check = 1
tdes-encrypt-disabled = 1
rsa-pkcs15-pad-disabled = 1
rsa-pss-saltlen-check = 1
rsa-sign-x931-pad-disabled = 1
hkdf-key-check = 1
kbkdf-key-check = 1
tls13-kdf-key-check = 1
tls1-prf-key-check = 1
sshkdf-key-check = 1
sskdf-key-check = 1
x963kdf-key-check = 1
x942kdf-key-check = 1
pbkdf2-lower-bound-check = 1
ecdh-cofactor-check = 1
hmac-key-check = 1
kmac-key-check = 1
